body {
  background: #f5d9df;
  font-family: "Nunito", sans-serif;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}
#mainNavbar .nav-link {
  color: #fff;
}
#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}
#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

h1 {
  font-size: 3.5rem;
  font-weight: 100; 
}

.title {
  color: #ea1c2c;
}

.row {
  margin-bottom: 4vh;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3rem;
    font-weight: 100; 
  }
}